<div class="card">
  <div class="card-header">
    <h5>EDITAR CHECKLIST</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <form #editForm="ngForm" (ngSubmit)="getEdit(user, editChecklist)">

          <!-- Description -->
          <div class="form-group row">
            <label class="col-lg-4 col-form-label" for="txtName">DESCRIPCIÓN:</label>
            <div class="col-lg-8">
              <input [(ngModel)]="checklist.description" class="form-control" id="txtName" name="description"
                     required type="text">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-4">
              <button (click)="getCancel()" class="btn btn-danger btn-block" type="reset">CANCELAR</button>
            </div>
            <div class="col-lg-4">
              <button class="btn btn-primary btn-block" type="submit">GUARDAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
