<div class="card">
  <!-- CARD HEADER -->
  <div class="card-header d-flex justify-content-between">
    <div class="title">
    </div>
    <div class="toolbar">
    </div>
  </div>

  <!-- CARD BODY -->
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr class="text-nowrap">
              <th scope="col"></th>
              <th scope="col">NOMBRE</th>
              <th scope="col">CORREO ELECTRÓNICO</th>
              <th scope="col">MENSAJE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of listRequests | slice: (page - 1) * pageSize:page * pageSize" class="text-nowrap">
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-sm mr-2"
                  (click)="getModalRequest(request, user, false)">
                  Rechazar
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="getModalRequest(request, user, true)">
                  Aceptar
                </button>
              </td>
              <td>{{request.userName}}</td>
              <td>{{request.userEmail}}</td>
              <td>{{request.message}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <ngb-pagination [(page)]="page" [collectionSize]="listRequests.length" [pageSize]="pageSize"></ngb-pagination>
      </div>

      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
