<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="title">
    </div>
    <div class="toolbar">
      <app-toolbar-logistics
        (btnExcelOut)="getExportExcel()"
        (btnNewOut)="getNew($event)"
        (btnPrintOut)="getPrint()"
        [btnExcelIn]="true"
        [btnNewIn]="true"
        [btnPrintIn]="true">
      </app-toolbar-logistics>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="exportExcel">
        <thead>
        <tr class="text-nowrap">
          <th scope="col"></th>
          <th scope="col">RUTA</th>
          <th scope="col">CIUDAD ORIGEN</th>
          <th scope="col">DIRECCIÓN ORIGEN</th>
          <th scope="col">UBICACIÓN ORIGEN</th>
          <th scope="col">CIUDAD DESTINO</th>
          <th scope="col">DIRECCIÓN DESTINO</th>
          <th scope="col">UBICACIÓN DESTINO</th>
          <th scope="col">TIEMPO ESTIMADO DE LLEGADA</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let route of listRoutes | slice: (page - 1) * pageSize:page * pageSize" class="text-nowrap">
          <td>
            <button (click)="getDelete(route)" class="btn btn-danger btn-sm mr-2">
              <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  fill-rule="evenodd"/>
              </svg>
            </button>
            <button (click)="getEdit(route.id)" class="btn btn-info btn-sm">
              <svg class="bi bi-pencil-square" fill="currentColor" height="16" viewBox="0 0 16 16"
                   width="16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  fill-rule="evenodd"/>
              </svg>
            </button>
          </td>
          <td>{{route.description}}</td>
          <td>
            <app-city-by-id [cityId]="route.originCity"></app-city-by-id>
          </td>
          <td>{{route.originAddress}}</td>
          <td>
            <a href="{{route.originLocation}}" target="_blank">{{route.originLocation}}</a>
          </td>
          <td>
            <app-city-by-id [cityId]="route.destinationCity"></app-city-by-id>
          </td>
          <td>{{route.destinationAddress}}</td>
          <td>
            <a href="{{route.destinationLocation}}" target="_blank">{{route.destinationLocation}}</a>
          </td>
          <td>{{route.timeOfArrival}} Hrs.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <ngb-pagination [(page)]="page" [collectionSize]="listRoutes.length" [pageSize]="pageSize"></ngb-pagination>
  </div>
</div>
