<div class="card">
  <div class="card-header">
    <h5>NUEVO TIPO DE EMPLEADO</h5>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <form (ngSubmit)="getSave(user)" [formGroup]="newForm">

          <!-- DESCRIPTION -->
          <div class="form-group row">
            <label class="col-lg-5 col-form-label" for="txtDescription">DESCRIPCIÓN:</label>
            <div class="col-lg-7">
              <input class="form-control" formControlName="description" id="txtDescription" type="text">
            </div>
          </div>

          <!--          <h5>PERMISOS:</h5>-->
          <!--          <br>-->

          <!--          <div class="form-check">-->
          <!--            <input class="form-check-input" formControlName="securityModule" id="securityCheck" type="checkbox"-->
          <!--                   value="">-->
          <!--            <label class="form-check-label" for="securityCheck">-->
          <!--              MODULO DE SEGURIDAD-->
          <!--            </label>-->
          <!--          </div>-->
          <!--          <div class="form-check">-->
          <!--            <input class="form-check-input" formControlName="employeeModule" id="employeeCheck" type="checkbox"-->
          <!--                   value="">-->
          <!--            <label class="form-check-label" for="employeeCheck">-->
          <!--              MODULO DE RR.HH-->
          <!--            </label>-->
          <!--          </div>-->
          <!--          <div class="form-check">-->
          <!--            <input class="form-check-input" formControlName="logisticsModule" id="logisticsCheck" type="checkbox"-->
          <!--                   value="">-->
          <!--            <label class="form-check-label" for="logisticsCheck">-->
          <!--              MODULO DE LOGÍSTICA-->
          <!--            </label>-->
          <!--          </div>-->
          <!--          <div class="form-check">-->
          <!--            <input class="form-check-input" formControlName="configModule" id="configCheck" type="checkbox" value="">-->
          <!--            <label class="form-check-label" for="configCheck">-->
          <!--              MODULO DE CONFIGURACIÓN-->
          <!--            </label>-->
          <!--          </div>-->
          <!--          <br>-->

          <div class="form-group row">
            <div class="col-lg-4">
              <button type="reset" class="btn btn-danger btn-block" (click)="getCancel()">CANCELAR</button>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-primary btn-block">GUARDAR</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
