<ng-container *ngIf="authSvc.user$ | async as user">
  <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs" ngbNav>

    <!------------- ROUTES ------------->
    <li [ngbNavItem]="1">
      <a ngbNavLink>RUTAS</a>
      <ng-template ngbNavContent>

        <!-- LIST ROUTES -->
        <ng-container *ngIf="pageListRoutes === true">
          <app-list-routes
            (add)="showNewRoute()"
            (edit)="getEditRoute($event)"
            [user]="user">
          </app-list-routes>
        </ng-container>

        <!-- NEW ROUTE -->
        <ng-container *ngIf="pageNewRoute === true">
          <app-new-route
            (cancel)="showListRoutes()"
            [user]="user">
          </app-new-route>
        </ng-container>

        <!-- EDIT ROUTE -->
        <ng-container *ngIf="pageEditRoute === true">
          <app-edit-route
            (cancel)="showListRoutes()"
            [editRoute]="editRoute"
            [user]="user">
          </app-edit-route>
        </ng-container>

      </ng-template>
    </li>

    <!------------- TRIPS -------------->
    <li [ngbNavItem]="2">
      <a ngbNavLink>VIAJES</a>
      <ng-template ngbNavContent>

        <!-- LIST TRIPS -->
        <ng-container *ngIf="pageListTrips === true">
          <app-list-trips
            [user]="user">
          </app-list-trips>
        </ng-container>

        <!-- EDIT TRIP -->
        <ng-container *ngIf="pageEditTrip === true">

        </ng-container>

        <!-- NEW TRIP -->
        <ng-container *ngIf="pageNewTrip === true">
        </ng-container>

      </ng-template>
    </li>

    <!------------- CITIES -------------->
    <li [ngbNavItem]="3">
      <a ngbNavLink>CIUDADES</a>
      <ng-template ngbNavContent>

        <!-- LIST CITIES -->
        <ng-container *ngIf="pageListCities === true">
          <app-list-cities
            (add)="showNewCity()"
            (edit)="getEditCity($event)"
            [user]="user">
          </app-list-cities>
        </ng-container>

        <!-- EDIT CITY -->
        <ng-container *ngIf="pageEditCity === true">
          <app-edit-city
            (cancel)="showListCities()"
            [editCity]="editCity"
            [user]="user">
          </app-edit-city>
        </ng-container>

        <!-- NEW CITY -->
        <ng-container *ngIf="pageNewCity === true">
          <app-new-city
            (cancel)="showListCities()"
            [user]="user">
          </app-new-city>
        </ng-container>

      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</ng-container>
