<!-- SHOW IF USER IS LOGGED -->
<ng-container *ngIf="authSvc.user$ | async as user; else noLogin">
  <app-navbar></app-navbar>
  <div class="container-fluid mt-3">
    <div class="row">

      <!-- LEFT COLUMN -->
      <div class="col-lg-2">
        <div class="card shadow p-2 bg-white rounded text-center">
          <div class="card-body p-2">

            <!-- HEADER -->
            <app-header [user]="user"></app-header>

            <hr>

            <!-- MENU -->
            <app-menu></app-menu>

          </div>
        </div>
      </div>

      <!-- MAIN COLUMN - BODY -->
      <div class="col-lg-10">
        <div class="card shadow p-2 bg-white rounded">
          <div class="card-body p-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- SHOW IF USER IS NOT LOGGED -->
<ng-template #noLogin>
  <div class="container-fluid mt-3">
    <router-outlet></router-outlet>
  </div>
</ng-template>
