<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="title">
    </div>
    <div class="toolbar">
      <app-toolbar-employees
        (btnNewOut)="getNew($event)"
        [btnNewIn]="true"
        (btnExcelOut)="getExportExcel()"
        [btnExcelIn]="true"
        (btnPrintOut)="getPrint()"
        [btnPrintIn]="true">
      </app-toolbar-employees>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="exportExcel">
<!--        <tr class="text-nowrap">-->
<!--          <th rowspan="2"></th>-->
<!--          <th class="align-middle" rowspan="2">DESCRIPCIÓN</th>-->
<!--          <th class="text-center" colspan="4">PERMISOS</th>-->
<!--        </tr>-->
<!--        <tr class="text-nowrap">-->
<!--          <th>M. SEGURIDAD</th>-->
<!--          <th>M. RR.HH</th>-->
<!--          <th>M. LOGÍSTICA</th>-->
<!--          <th>M. CONFIGURACIÓN</th>-->
<!--        </tr>-->
        <tr>
          <th></th>
          <th>DESCRIPCIÓN</th>
        </tr>
        <tr *ngFor="let et of listEmployeesType | slice: (page - 1) * pageSize:page * pageSize" class="text-nowrap">
          <td>
            <button (click)="getDelete(et)" class="btn btn-danger btn-sm mr-2">
              <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  fill-rule="evenodd"/>
              </svg>
            </button>
            <button (click)="getEdit(et.id)" class="btn btn-info btn-sm">
              <svg class="bi bi-pencil-square" fill="currentColor" height="16" viewBox="0 0 16 16"
                   width="16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  fill-rule="evenodd"/>
              </svg>
            </button>
          </td>
          <td>{{et.description}}</td>
<!--          <td>-->
<!--            &lt;!&ndash;            <ng-container *ngIf="et.securityModule === true; else noCheck">&ndash;&gt;-->
<!--            &lt;!&ndash;              <svg class="bi bi-check" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"&ndash;&gt;-->
<!--            &lt;!&ndash;                   xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--            &lt;!&ndash;                <path&ndash;&gt;-->
<!--            &lt;!&ndash;                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>&ndash;&gt;-->
<!--            &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </td>-->
<!--          <td>-->
<!--            &lt;!&ndash;            <ng-container *ngIf="et.employeeModule === true; else noCheck">&ndash;&gt;-->
<!--            &lt;!&ndash;              <svg class="bi bi-check" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"&ndash;&gt;-->
<!--            &lt;!&ndash;                   xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--            &lt;!&ndash;                <path&ndash;&gt;-->
<!--            &lt;!&ndash;                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>&ndash;&gt;-->
<!--            &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </td>-->
<!--          <td>-->
<!--            &lt;!&ndash;            <ng-container *ngIf="et.logisticsModule === true; else noCheck">&ndash;&gt;-->
<!--            &lt;!&ndash;              <svg class="bi bi-check" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"&ndash;&gt;-->
<!--            &lt;!&ndash;                   xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--            &lt;!&ndash;                <path&ndash;&gt;-->
<!--            &lt;!&ndash;                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>&ndash;&gt;-->
<!--            &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </td>-->
<!--          <td>-->
<!--            &lt;!&ndash;            <ng-container *ngIf="et.configModule === true; else noCheck">&ndash;&gt;-->
<!--            &lt;!&ndash;              <svg class="bi bi-check" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"&ndash;&gt;-->
<!--            &lt;!&ndash;                   xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--            &lt;!&ndash;                <path&ndash;&gt;-->
<!--            &lt;!&ndash;                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>&ndash;&gt;-->
<!--            &lt;!&ndash;              </svg>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </td>-->
        </tr>
      </table>
<!--      <ng-template #noCheck>-->
<!--        - -->
<!--      </ng-template>-->
    </div>
    <br>
    <ngb-pagination [(page)]="page" [collectionSize]="listEmployeesType.length" [pageSize]="pageSize"></ngb-pagination>
  </div>
</div>
