<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h4 class="text-center">J ARENAS - INTRANET</h4>
    <br>
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <h5 class="text-center">Iniciar sesión</h5>
        <br>
        <button (click)="loginGoogle()" class="btn btn-google" type="button">
          <img alt="button google" class="img-google" src="../../../../../assets/images/buttons/google.svg">
          Continuar con Google
        </button>
      </div>
    </div>
  </div>
</div>
